// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #8e44ad;
  
  --ion-background-color: #f0e9e9;
  
  --ion-toolbar-background: var(--ion-color-primary);
   
  --ion-item-background: #f0ebeb;
  --ion-card-background: #f0ebeb;
  --ion-font-family: 'Rubik';
}
