<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar> 
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>
        Profile
      </ion-title>
      <ion-button color="primary" [routerLink]="['/login']" slot="end" style="margin-right: 10px;">
        <ion-icon slot="icon-only" name="power-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
   
  </ion-content>

</div>
